@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@400;500;800&display=swap');

*{
    background-color: #323232;
    color: #DFDFDF;
    list-style: none;
    font-family: 'Montserrat';
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hour{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.title{
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 45px;
    padding-top: 10px;
}

.weather{
    display: flex;
    font-size: 30px;
    justify-items: center;
    padding-top: 10px;
}

#nuvem{
    width: 70px;
    padding-right: 10px;
     padding-bottom: 45px;

}

.table{
    table-layout: fixed;
    width: 75%;
    margin: auto;
}

thead th:nth-child(1) {
    width: 30%;
  }

.table th{
    font-size: 23px;
    font-weight: 500;
}
.table tr p{
    text-align:center;
    font-size: 19px;
}

.table td {
    border-right: 1px solid #79BA4C;
    margin: 0px;
}

.carros{
    height: 60px;
    margin: 15px;
}

.borderLeft{
    border-left: 1px solid #79BA4C;
}

.logo{
    width: 15%;
    display: block;
    margin: auto;
    margin-top: 40px;
}